<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/css/layout.css">
    <%-style  %> 

</head>
<body>
    
    <%- include('_header'); -%>
        
       <!-- Include where the variable part would be there -->

       <%- body  %>
       <!-- This body gets filled whatever is there in user profile or home -->
    
     
        <%- include('_footer'); -%>

        <%-script  %> 
    </body>
</html>